<!DOCTYPE html>
<html ng-app="vocabularyDrillApp">
<head>
<meta http-equiv="content-type" value="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="russianflag.png">
<link rel="apple-touch-icon" href="russianflagapple.png" />
<link rel="stylesheet" type="text/css" href="vocabularydrill.css" />
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="angular-resource.js"></script>
<script type="text/javascript" src="vocabularydrill.js"></script>
<script type="text/javascript" src="jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="ng-FitText.js"></script>
<script type="text/javascript" src="d3.min.js"></script>
<script type="text/javascript" src="dangle.min.js"></script>
</head>
<body ng-controller="SessionCtrl">
    <aside ng-controller="VocabularyCtrl" ng-class="{expanded: expanded}">
    	<a href="#" class="menutoggle" ng-click="toggle();">&lt;</a>
    	<div class="linklist">
			<a ng-class="{current: currentSection === section}"
				ng-repeat="(section, words) in vocabulary"
				href="#"
				ng-click="selectSection(section)">
				{{ section }} ({{ vocabulary[section].status.score.toFixed(0) }} %)
			</a>
		</div>
    </aside>
    <main>
    <div class="title">{{ currentSection }}</div>
    <div ng-controller="FlashCardCtrl">
        <div class="card" ng-class="{answer: !showingQuestion, enabled: hasWord()}">{{ word.word[show] }}</div>
        <div class="feedback-button answer-button" ng-class="{enabled: hasWord()}" ng-if="hasWord() && showingQuestion" ng-click="hasWord() ? pressedWord() : false">Show answer</div>
    </div>    
    <div ng-controller="FeedbackCtrl">
        <div class="feedback-button feedback-wrong" ng-if="enabled" ng-class="{enabled: enabled}" ng-click="enabled ? feedback(false) : false">Wrong</div>
        <div class="feedback-button feedback-correct" ng-if="enabled" ng-class="{enabled: enabled}" ng-click="enabled ? feedback(true) : false">Correct</div>
    </div>
    <!--<div>
        <fs:column width="900" height="175" bind="results.facets.SelectionProbability" />
    </div>
    <div class="statistics">
        <table style="clear: both;" ng-if="words.length > 0">
            <thead>
                <tr><th>Word</th><th># correct</th><th># wrong</th><th>Selection probability</th></tr>
            </thead>
            <tbody>
                <tr ng-repeat="word in words | orderBy:'-selectionProbability'"><td>{{ word.word[0] }}</td><td>{{ word.correct }}</td><td>{{ word.wrong }}</td><td>{{ word.selectionProbability }}</td></tr>
            </tbody>
        </table>
    </div>-->
    </main>
</body>
</html>
